* {
	border: 1px dashed red;
	min-height: 10px;
}

body {
    background-color: black;
}


.post {
    background: white;
    width: 500px;
    height: 700px;
    border: 0px;
    margin: auto;
}

.post-header {
   display: flex;
   justify-content: space-between;
   border: 0px;
   margin: 0px;
   font-size: 40px;
   padding: 2px;
}

.left-icons {
    display: flex;
    flex-direction: row;
}

#header-paragraph {
    font-size: 20px;
}

.post-body {
    font-size: 30px;
}

.photo-img {
    height: auto;
    width: 500px;
}


.post-icons {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding: 2px;
}


.post-body {
font-size: 18px;
}

p {
    margin: 5px;
}

#second-paragraph {
   margin-top: 10px;
}
