body {
    background-color: black;
}


.post {
    background: white;
    width: 500px;
    height: 700px;
    border: 0px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.post-header {
   display: flex;
   justify-content: space-between;
   border: 0px;
   margin: 7px;
   font-size: 40px;
   padding: 10px 7px 10px 7px;
   height: 8%;
}

.left-icons {
    display: flex;
    flex-direction: row;
}

#header-paragraph {
    font-size: 20px;
    margin: 5px;
}

.post-body {
    font-size: 30px;
    margin: 7px;
}

.photo-img {
    height: auto;
    width: 500px;
}


.post-icons {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding: 2px;
}
i {
    padding: 5px;
}
.post-body {
font-size: 18px;
}

p {
    margin: 20px 7px; 
}

#second-paragraph {
   margin-top: 10px;
}
